@model IEnumerable<CategoryPriceSummary>
<h2 class="mb-4 d-flex justify-content-between align-items-center">
    Kategori Bazında Ortalama Fiyat Raporu
    <div>
        <a href="@Url.Action("Index")" class="btn btn-info">
            <i class="bi bi-bar-chart-line"></i> Kategorilere Git
        </a>
        <div class="dropdown d-inline-block">
            <button class="btn btn-success dropdown-toggle" type="button" id="reportsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-bar-chart-line"></i> Raporlara Git
            </button>

            <ul class="dropdown-menu" aria-labelledby="reportsDropdown">
                <li><a class="dropdown-item" href="@Url.Action("ProductWithCategory", "Category")">Ürünler ve Kategorileri Listele</a></li>
                <li>
                    <a class="dropdown-item" href="@Url.Action("CategoryPriceReport", "Category")">
                        Kategori Bazında Ürün Fiyat Raporu
                    </a>
                </li>


            </ul>
        </div>
    </div>
</h2>
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Kategori</th>
            <th scope="col">Ürün Sayısı</th>
            <th scope="col">Ortalama Fiyat</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.CategoryName</td>
                    <td>@item.ProductCount</td>
                    <td>@item.AvgPrice</td>

                </tr>
            }

        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">Arama kriterlerine uygun ürün bulunamadı.</td>
            </tr>
        }
    </tbody>
</table>
